* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #091921;
    overflow:hidden;
}

body .bubble {
    position: absolute;
    bottom: -20px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: animate 4s linear infinite;
    z-index: -1;
}

body .bubble:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, 70%);
    background: radial-gradient(#555, transparent);
    border-radius: 50%;
}

@keyframes animate {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1200%);
        opacity: 0;
    }
}

.search-from {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 10vh;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(20, 150, 159, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.search-from input,
button {
    flex-basis: 70%;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    /* background-color: transparent;  when background color given transparent it will  take background color as parent color  */
    color: rgb(255, 255, 255);

}

.search-from button {
    flex-basis: 30%;
    cursor: pointer;
    border-left: 1px solid #a1a1a1;
    color: rgb(253, 250, 250);
    width: 10px;
    padding-left: 20px;

}

.search-from button:hover {
    transform: scaleX(2px);
    color: rgb(27, 175, 224);

}

.card {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3rem 2rem;
    border-radius: 1rem;
    border-left: 2px solid #a1a1a1;
    border-top: 2px solid #a1a1a1;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(20, 150, 159, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.property {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    column-gap: 1rem;
    font-size: 20px;
}

.property audio {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .search-from {
        width: 300px;
        margin-left: 8px;
    }

    .card {
        width: 300px;
        margin-left: 8px;
    }

    .property audio {
        width: 245px;
        margin-left: -10px;
        height: 40px;
    }
}